

<!-- begin:: Aside Menu -->

<div th:fragment="menu-principal" id="kt_aside_menu"
	class="kt-aside-menu " data-ktmenu-vertical="1" data-ktmenu-scroll="1"
	data-ktmenu-dropdown-timeout="500">

	<ul class="kt-menu__nav ">
		<li class="kt-menu__item " aria-haspopup="true"><a
			href="../index.html" class="kt-menu__link "><i
				class="kt-menu__link-icon flaticon2-architecture-and-city"></i><span
				class="kt-menu__link-text">Inicio</span></a></li>
		<!-- NOMBRE DE MENU -->
		<li class="kt-menu__section ">
			<h4 class="kt-menu__section-text">Custom</h4> <i
			class="kt-menu__section-icon flaticon-more-v2"></i>
		</li>
		<!-- FIN NOMBRE DE MENU -->
	<li class="kt-menu__item " aria-haspopup="true"><a
			href="../index.html" class="kt-menu__link "><i
				class="kt-menu__link-icon flaticon2-architecture-and-city"></i><span
				class="kt-menu__link-text">Estudiante</span></a></li>
				
		<li class="kt-menu__item " aria-haspopup="true"><a
			href="../index.html" class="kt-menu__link "><i
				class="kt-menu__link-icon flaticon2-architecture-and-city"></i><span
				class="kt-menu__link-text">Docente</span></a></li>
		
		
		<li class="kt-menu__item " aria-haspopup="true"><a
			href="../builder.html" class="kt-menu__link "><i
				class="kt-menu__link-icon flaticon2-expand"></i><span
				class="kt-menu__link-text">Builder</span></a></li>

	</ul>
</div>

<!-- end:: Aside Menu -->
